.gpt3__features-container__feature{
    /* width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    margin: 1rem; */
}
.gpt3__features-container__feature-title{
    flex:1;
    /* max-width: 100px; */
    /* margin-right: 2rem; */
    
}
.gpt3__features-container__feature-title h1{
    font-family: var(--font-base);
    color: var(--color-white);
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    position:relative;


}
.gpt3__features-container__feature-title div{
    margin: auto;

    width: 215px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex: 2;
    
     

    
   
   
}


  
    
    

.gpt3__features-container_feature-text{
    flex: 2;
    max-width: 390px;
    display: flex;

}
.gpt3__features-container_feature-text p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);

}
