.app__header{
    background-color: var(--color-black);
}
.sub{
    margin-top: 20%;
    
}
.app__header-h1{
    
    font-family: var(--font-base);
    color: var(--color-white);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 80px;
}

.app__wrapper_img img{
    width:80%;
   
}
.vids-tp{
    z-index: 30;
}
.vid_z-index-tp{
    z-index: 10;
    position: absolute;
    
    top: 10%;
    left:45% ;
  
    opacity: 0.4;
}
.vid_z-index-tp2 {
    z-index: 20; 
    position: relative;
    
    left:-45% ;

    opacity: 0.5;
    
}

.img_z-index-center{
    display: flex;
    position:absolute ;

    height: 800px;
    width: 700px;
    
}

.vids-bt{
    
    z-index: 30;
}
.vid_z-index-bt{
    z-index: 10;
    display: flex;
    
    bottom: 1%;
    right:10%;
    opacity: 0.5;
    position: absolute;
    /* Position the video 50% from the top of its container */
}
.vid_z-index-bt2{
    z-index: 20;
    display: flex;
    opacity: 0.5;
    right:-40%;
    opacity: 0.5;
    position: relative
    /* Position the video 50% from the top of its container */
}

    /*  NO NEED TO CHANGE variables, As they are basic variables */
@media screen and (max-width: 1600px) {
    .vid_z-index-tp2{
        margin-left: 10%;
    }
    
}
@media screen and (max-width:1530px) {
    #smcontent{
        display: none;
    }
    
    
}

@media screen and (max-width: 700px) {
    .app__header-h1 {
        font-size: 50px;
        line-height: 57px;
        margin-top: 28px;
    
    }
    #smcontent{
        display: none;
    }
    .vid_z-index-bt{}
    .vid_z-index-bt2{}
    .vid_z-index-tp{}
    .vid_z-index-tp2{}
    .vids-bt{;}
    .vids-tp{display: none;}
}